<div class="listing">
    <div class="listing__header">
        <div class="listing__header-item">
            <mat-form-field>
                <mat-label>Game</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="listing__header-item">
            <mat-form-field>
                <mat-label>Buy In</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="listing__header-item">
            <mat-form-field>
                <mat-label>Speed</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="listing__body">
        <mat-nav-list>
            <mat-list-item *ngFor="let message of messages">
              <img matListAvatar src="https://lh3.googleusercontent.com/proxy/VDJAVE5UyBw8alFe8fteUcNwnPNY8YNSSsaEy4NYLw-uOdIOXvgcDg-odirc3p7jzi6cXpRIrsb_juAZDFBjKVwGTdetsgIOrVai1Jjwi3VBRalr" alt="...">
              <h3 matLine> {{message.from}} </h3>
              <p matLine>
                <span> {{message.subject}} </span>
                <span class="demo-2"> -- {{message.content}} </span>
              </p>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>
