<div class="chat">
    <div class="chat__header">
        <div class="group--image">
            <div class="group__image"></div>
            <div class="group__info">
                <h1 class="group__info-heading">Arsenal Poker</h1>
                <h3 class="group__info-subtitle"><div class="circle--small circle--green"></div> running for 2 hours</h3>
            </div>
        </div>
        <div class="chat__header-actions">
            <button><i class="fas fa-search"></i></button>
            <button><i class="fas fa-cog"></i></button>
            <button><i class="fas fa-ellipsis-v"></i></button>
        </div>
    </div>
    <div class="chat__body">
        <div class="comment">
            <div class="comment__image"></div>
            <div class="comment__content">
                hello there
            </div>
        </div>
    </div>
    <div class="chat__footer">
        <textarea placeholder="Type something here..."></textarea>
        <button><i class="far fa-smile"></i></button>
        <button><i class="fas fa-paper-plane"></i></button>
    </div>
</div>