* {
    box-sizing: border-box;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border-radius: 1px;
    background: white;
    font-family: Arial;
    border: .1px solid black;
    color: #f61f00;
    font-weight: bold;
    font-size: 16%;
}

.card__image {
    background: #eee;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 397%;
    flex: 1;
    margin-top: 2px;
    border: 0.2px solid #dddddd;
    margin-right: 1px;
    border-bottom: 0;
}

.card--2 .card__image {
    background-image: url(https://media1.giphy.com/media/RKG1c9AV8ZDKKlVikb/giphy.gif);
}

.card--3 .card__image {
    background-image: url(https://media1.giphy.com/media/U3yJZ71Ng1xu2gZjlC/giphy.gif);
}

.card--4 .card__image {
    background-image: url(https://media0.giphy.com/media/h4CmcxYPohgCSlERaj/giphy.gif);
}

.card--5 .card__image {
    background-image: url(https://media2.giphy.com/media/KEk38R2yeNrTVoEdT7/giphy.gif);
}

.card--6 .card__image {
    background-image: url(https://media3.giphy.com/media/Kd4S7JmNHo2OvWLimE/giphy.gif);
}

.card--7 .card__image {
    background-image: url(https://media1.giphy.com/media/clnVOv1Lv9DPBRt0nF/giphy.gif);
}

.card--8 .card__image {
    background-image: url(https://media3.giphy.com/media/YQGAu29zcpUXcLcHnd/giphy.gif);
}

.card--9 .card__image {
    background-image: url(https://media2.giphy.com/media/cMVh6cmPjZjXqjaXEB/giphy.gif);
}

.card--10 .card__image {
    background-image: url(https://media0.giphy.com/media/eepAuzSWcmHuabtEKW/giphy.gif);
}

.card--j .card__image {
    background-image: url(https://media0.giphy.com/media/JSkawA6q5V68yFHeXJ/giphy.gif);
}

.card--q .card__image {
    background-image: url(https://media1.giphy.com/media/PnCizYLwohvghmoTlp/giphy.gif);
}   

.card--k .card__image {
    background-image: url(https://media2.giphy.com/media/Y2tQv8YU8or4suzcP9/giphy.gif);
}

.card--a .card__image {
    background-image: url(https://media0.giphy.com/media/iIMJjQdGMX2gQ22Lgd/giphy.gif);
}

.card__type {
    padding: 0.5px;
    text-transform: uppercase;
}

.card__type span {
    display: block;
}

.card--spade, .card--club {
    color: black;
}

.card--spade .card__type span::before {
    content: "\2660";
}

.card--club .card__type span::before {
    content: "\2663";
}

.card--heart .card__type span::before {
    content: "\2665";
}

.card--diamond .card__type span::before {
    content: "\2666";
}