.app {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.app__sidebar {
    width: 70px;
    background: #ececec;
}

.app__body {
    flex: 1;
}

.app__body-nav {
}

.nav {
    display: flex;
    align-items: center;
    background: #f9f9f9;
}

.nav__heading {
    font-size: 1.5em;
    text-align: left;
    padding: 1em;
}

.nav__search {
    padding-left: 2em;
    width: 334px;
    position: relative;
    top: 8px;
}

.nav__search .mat-form-field {
    zoom: 0.8;
    width: 100%;
}

.nav__extra {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
}

.account {
    display: flex;
    align-items: center;
}

.account__image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: black;
    border-radius: 100%;
}

.account__info-name {
    font-size: 0.9em;
    opacity: 0.7;
}

.account__info-balance {
    font-size: 1.1em;
}

.nav__extra {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
}