<app-layout>
    <div class="grid">
        <div class="grid__item"> 
            <app-listing></app-listing>
        </div>
        <div class="grid__item c-spin-n-go">
            <div class="grid"> 
                <div class="grid__item">
                    <div class="card--block">
                        <div class="card__image h-champions-league-image"></div>
                        <div class="card__content"> 
                        </div>
                        <div class="card__button">play</div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="card--block">
                        <div class="card__image h-champions-league-image"></div>
                        <div class="card__content"> 
                        </div>
                        <div class="card__button">play</div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="card--block">
                        <div class="card__image h-champions-league-image"></div>
                        <div class="card__content"> 
                        </div>
                        <div class="card__button">play</div>
                    </div>
                </div>
            </div>
            <div class="grid"> 
                <div class="grid__item">
                    <div class="card--block">
                        <div class="card__image h-champions-league-image"></div>
                        <div class="card__content"> 
                        </div>
                        <div class="card__button">play</div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="card--block">
                        <div class="card__image h-champions-league-image"></div>
                        <div class="card__content"> 
                        </div>
                        <div class="card__button">play</div>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="card--block">
                        <div class="card__image h-champions-league-image"></div>
                        <div class="card__content"> 
                        </div>
                        <div class="card__button">play</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout>