*, :after, :before {
    box-sizing: border-box;
}
.table {
    text-align: center;
    background: #eee;
}
.table__surface {
    width: 100px;
    height: 100px;
    background: #296843;
    position: relative;
    zoom: 7.6;
    /*transform: rotateX(30deg);
    margin-top: -6px;*/
    display: inline-block;
}
.table__surface:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 0;
    border-bottom: 29px solid #296843;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
}
.table__surface:after {
    content: "";
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    border-top: 29px solid #296843;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
}  

.table__player {
    position: absolute;
    z-index: 1;
}

.table__player--1 {
    top: 17px;
    left: 7.53px;
}

.table__player--1 .player {
    transform: none;
}

.table__player--2 {
    top: -6px;
    left: 28px;
    transform: rotate(45deg);
}

.table__player--2 .player {
    transform: rotate(-45deg);
}

.table__player--3 {
    top: -7.3px;
    right: 31.5px;
    transform: rotate(90deg);
}

.table__player--3 .player {
    transform: rotate(-90deg);
}

.table__player--4 {
    top: 14px;
    right: 8.53px;
    transform: rotate(135deg);
}

.table__player--4 .player {
    transform: rotate(-135deg);
}

.table__player--5 {
    top: 45px;
    right: 7.3px;
    transform: rotate(180deg);
}

.table__player--5 .player {
    transform: rotate(-180deg);
}

.table__player--6 {
    bottom: -6px;
    right: 28.3px;
    transform: rotate(225deg);
}

.table__player--6 .player {
    transform: rotate(130deg);
}

.table__player--7 {
    left: 31.2px;
    bottom: -7.2px;
    transform: rotate(-90deg);
}

.table__player--7 .player {
    transform: rotate(90deg);
}

.table__player--8 {
    left: 8.9px;
    bottom: 13.8px;
    transform: rotate(-45deg);
}

.table__player--8 .player {
    transform: rotate(45deg);
}

.table__player-holder:before, .table__player-holder:after {
    content: "";
    width: 9px;
    height: 19px;
    background: #2b2b2b;
    position: relative;
    display: block;
    border-radius: 1px;                                    
}

.table__player-holder:before {
    transform: rotate(45deg);
    top: 0;
    left: 0;
}

.table__player-holder:after {
    top: -6px;
    left: -5.38px;
}

.table__cards {
    display: grid;
    grid-template-columns: 11px 11px 11px 11px 11px;
    height: 17px;
    grid-gap: 1.3px;
    position: absolute;
    top: 40px;
    text-align: center;
    left: 20.5px;
}

.table__cards > div {
    border: 0.2px dotted #b9b9b9;
    border-radius: 1px;
}

.player {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 10px;
    left: -5.67px;
    border-radius: 100%;
    background: #bc6969;
    z-index: 1;
    border: 0.3px inset rgba(255, 255, 255, 0.35);
    background-image: url(https://media1.giphy.com/media/11QEuO6MtKCl6E/giphy.gif?cid=ecf05e4…&rid=giphy.gif);
    background-size: cover;
    background-position: center;
}