*, :after, :before {
    box-sizing: border-box;
}
.table {
    text-align: center;
    background: #eee;
    height: 100%;
    display: flex;
    align-items: center;
}
.table__surface {
    width: 100px;
    height: 100px;
    background: #296843;
    position: relative;
    zoom: 6;
    /*transform: rotateX(30deg);
    margin-top: -6px;*/
    display: inline-block;
}
.table__surface:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 0;
    border-bottom: 29px solid #296843;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
}
.table__surface:after {
    content: "";
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    border-top: 29px solid #296843;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
}  

.table__player {
    position: absolute;
    z-index: 1;
}

.table__player--1 {
    top: 17px;
    left: 7.53px;
}

.table__player--1 .player {
    transform: none;
}

.table__player--1 .player__deck {
    left: 12px;
    top: 6px;
    transform: rotate(-55deg);
}

.table__player--2 {
    top: -6px;
    left: 28px;
    transform: rotate(45deg);
}

.table__player--2 .player {
    transform: rotate(-45deg);
}

.table__player--3 {
    top: -7.3px;
    right: 31.5px;
    transform: rotate(90deg);
}

.table__player--3 .player {
    transform: rotate(-90deg);
}

.table__player--4 {
    top: 14px;
    right: 8.53px;
    transform: rotate(135deg);
}

.table__player--4 .player {
    transform: rotate(-135deg);
}

.table__player--5 {
    top: 45px;
    right: 7.3px;
    transform: rotate(180deg);
}

.table__player--5 .player {
    transform: rotate(-180deg);
}

.table__player--6 {
    bottom: -6px;
    right: 28.3px;
    transform: rotate(225deg);
}

.table__player--6 .player {
    transform: rotate(130deg);
}

.table__player--7 {
    left: 31.2px;
    bottom: -7.2px;
    transform: rotate(-90deg);
}

.table__player--7 .player {
    transform: rotate(90deg);
}

.table__player--8 {
    left: 8.9px;
    bottom: 13.8px;
    transform: rotate(-45deg);
}

.table__player--8 .player {
    transform: rotate(45deg);
}

.table__player-holder:before, .table__player-holder:after {
    content: "";
    width: 9px;
    height: 19px;
    background: #2b2b2b;
    position: relative;
    display: block;
    border-radius: 1px;                                    
}

.table__player-holder:before {
    transform: rotate(45deg);
    top: 0;
    left: 0;
}

.table__player-holder:after {
    top: -6px;
    left: -5.38px;
}

.table__cards {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px 10px;
    height: 16px;
    grid-gap: 1.3px;
    position: absolute;
    top: 41.6px;
    text-align: center;
    left: 22.4px;
}

.table__cards > div {
    border: 0.2px dotted #b9b9b9;
    border-radius: 1px;
}

.player {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 10px;
    left: -5.67px;
    border-radius: 100%;
    background: #bc6969;
    z-index: 1;
    border: 0.3px inset rgba(255, 255, 255, 0.35);
    background-image: url(https://media1.giphy.com/media/11QEuO6MtKCl6E/giphy.gif?cid=ecf05e4…&rid=giphy.gif);
    background-size: cover;
    background-position: center;
    transition: all 1s linear;
}

.player__deck {
    width: 5px;
    height: 7px;
    border: 0.3px dotted #b9b9b9;
    border-radius: 1px;
    position: absolute;
}

.card--back {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/54/Card_back_06.svg);
    height: 100%;
    width: 100%;
    background-size: 5px 7px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

.table__player.table__player--2 .player__deck {
    transform: rotate(-25deg);
    top: 11.5px;
    right: -1.5px;
}

.table__player.table__player--3 .player__deck {
    transform: rotate(40deg);
    top: 11px;
    left: -2px;
}

.table__player.table__player--4 .player__deck {
    transform: rotate(45deg);
    left: -8px;
    top: 6px;
}

.table__player.table__player--5 .player__deck {
    transform: rotate(-55deg);
    left: -8px;
    top: -3px;
}

.table__player.table__player--6 .player__deck {
    transform: rotate(-15deg);
    left: -1px;
    top: -9px;
}

.table__player.table__player--7 .player__deck {
    transform: rotate(20deg);
    left: 6px;
    top: -9px;
}

.table__player.table__player--8 .player__deck {
    transform: rotate(53deg);
    left: 12px;
    top: -4px;
}

.table__dealer {
    position: absolute;
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    top: 44px;
    left: 15px;
    z-index: 1;
    transition: all 1s linear;
}

.table__player.u-current-position .player {
    height: 12px;
    width: 12px;
    top: 10px;
}

.table__dealer.table__dealer--2 {
    top: 23px;
    left: 26px;
}

.table__dealer.table__dealer--3 {
    top: 15px;
    left: 51px;
}

.table__dealer.table__dealer--4 {
    top: 26px;
    margin: 0 auto;
    right: -31px;
}

.table__dealer.table__dealer--5 {
    top: 49px;
    margin: 0 auto;
    right: -45px;
}

.table__dealer.table__dealer--6 {
    top: 71px;
    margin: 0 auto;
    right: -25px;
}

.table__dealer.table__dealer--7 {
    margin: 0 auto;
    right: 18px;
    top: 77px;
}

.table__dealer.table__dealer--8 {
    margin: 0 auto;
    left: 24px;
    top: 69px;
}